.App {
  text-align: center;
}

.pizza_type{

  display:inline-flex;
  align-self: center;
}

img{
  width: 250px;
  height: 250px;
  padding-left: 25px;
 
}

.type1, .type2, .type3{
  border: 2px solid black;
  margin: 13px;
  padding-top: 18px;
  padding-right: 18px;
}

.pizza_size{
  display: inline-flex;
  align-self: center;
}



